@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.botao-entrar {
  margin-top: 1rem;
}

.botao-pesquisar {
  margin-top: 1rem;
}

body {
  font-family: 'Calibri', sans-serif;
}

@layer utilities {
  .bg-primary {
    background-color: #667eea;
  }
  .hover\:bg-primaryHover:hover {
    background-color: #5a67d8;
  }
  .text-primary {
    color: #667eea;
  }
  .hover\:text-primary:hover {
    color: #5a67d8;
  }
  .focus\:ring-primary {
    --tw-ring-color: #667eea;
  }
  .focus\:border-primary {
    border-color: #667eea;
  }
  .animate-jump-in {
    animation: jumpIn 0.4s ease-out;
  }
}

@keyframes jumpIn {
  0% {
    transform: scale(0.7);
    opacity: 0;
  }
  50% {
    transform: scale(1.1);
    opacity: 1;
  }
  70% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}